html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #A49F4F;
    overflow-y: auto;
}

.home-container {
    width: 100%;
    height: 100%;   
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background: cadetblue;

    .profile-pic {
            position: relative;
            max-width: 300px;
            margin: 50px;
        }
    
        .home-text {
            position: relative;
            max-width: 300px;
            margin: 60px 0px 0px 20px;
            padding-bottom: 50px;
        }
    
        .download-cv {
            position: relative;
            width: 100%;
            margin: 20px 20px 0px 0px;
        }
}

.home-content-2{
    display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        background: red;
}

